.header{
    padding: 4rem 0;
    position: absolute;
    width:100%;
    z-index:5;
}
.logo{
    @include screen(tab-portrait){
       flex:1;
    }
    &-link{
        display: flex;
        align-items: center;
        flex-direction: column;
        width:20rem;
        img{
            width:100%;
        }
    }

    &-text{
        display: block;
        font-size: 1.3rem;
        font-weight: 500;
        color: #fff;
        letter-spacing: 4.3px;
        margin-left: 23px;
        width: 110%;
        text-transform: uppercase;
    }
}