//GRID
$grid-width:117rem;
$col-horizontal:3rem;
$col-vertical:3rem;
//COLOR
$primary-color: #232323;
$heading-color: #232323;
$second-color: #6f6f6f;
$bg-color:rgba(97, 45, 127, 0.2);
$text-color:rgba(255, 255, 255, 0.8);
//font
$f-mon:'Montserrat', sans-serif;
$f-dance: 'Dancing Script', cursive;
$f-car:'Cardo', serif;