//color
$color-primary:#fdcd07;

$color-secondary:#000000;

$color-tertiary-1:#69d2e7;
$color-tertiary-2:#add478;
$color-tertiary-3:#f49f77;

$color-grey-light: #bcc0cd;
$color-grey-light-2:#a1a1a1;
$color-grey-light-3:#f4f4f4;
$color-grey-dark: #333333;
$color-grey-dark-2:#666666;
$color-grey:#bcbcbc;
$color-white:#fff;
$color-dark:#000;

//shadow
$shadow-light: 0 1.5rem 4rem rgba(#000,0.2);
$shadow-dark: 0 1.5rem 4rem rgba(#000,0.6);
    
//font
$default-font-size:1.6rem;
//transition
$transition-3s: all 0.3s ease-in-out;
//grid
$grid-width-desk: 114rem;
$grid-width-tab-l: 90rem;
$grid-width-tab-p: 60rem;
$grid-width-phone:50rem;
$gutter-vertical:3rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;
