/*
- phone : 0 - 600px;
- tab-portrait : 600px -900px;
- tab-landscape : 900 - 1200px;
- big-desktop : 1800px +

ORDER CHANGE : base > typography > general layout > grid > page layout > component
*/
/* KEYFRAME */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px); }
  80% {
    transform: translateX(20px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(100px); }
  80% {
    transform: translateX(-10px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translateY(-100px); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInBottomCenter {
  0% {
    opacity: 0;
    transform: translate(-50%, -30px); }
  100% {
    opacity: 1;
    transform: translate(-50%, 0); } }

@keyframes headingAnimation {
  0% {
    opacity: 1;
    visibility: visible; }
  50% {
    height: 1px;
    width: 100%; }
  100% {
    height: 100%; } }

@keyframes moveSlide {
  0% {
    transform: translateX(-4rem); }
  100% {
    transform: translateX(0%); } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes circleUpDown {
  from {
    transform: translateY(0); }
  to {
    transform: translateY(1.4rem); } }

/* general setting */
*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media only screen and (min-width: 1800px) {
    html {
      font-size: 75%; } }
  @media only screen and (max-width: 1200px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 940px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 46.25%; } }

body {
  box-sizing: border-box; }

ul {
  list-style-type: none; }

a, a:link, a:visited {
  text-decoration: none; }

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 150%; }

.heading-head {
  text-align: center; }
  .heading-head--main {
    color: #e4c478;
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    display: block;
    font-weight: 300;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 600px) {
      .heading-head--main {
        font-size: 3.2rem;
        margin-bottom: 3rem; } }
  .heading-head--sub {
    font-size: 2rem;
    color: #fff;
    display: block;
    font-weight: 100;
    width: 75%;
    margin: 0 auto;
    line-height: 150%; }
    @media only screen and (max-width: 600px) {
      .heading-head--sub {
        font-size: 1.8rem; } }

.heading-section {
  position: relative;
  display: inline-block;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #e4c478;
  font-weight: 400;
  padding-top: 4rem;
  text-align: center; }
  @media only screen and (max-width: 940px) {
    .heading-section {
      font-size: 3.1rem; } }
  @media only screen and (max-width: 600px) {
    .heading-section {
      font-size: 2.8rem; } }
  .heading-section::after, .heading-section::before {
    content: "";
    position: absolute;
    background-color: #e4c478; }
  .heading-section::after {
    top: 0;
    right: 2rem;
    height: 5px;
    width: 30%; }
  .heading-section:before {
    top: -2.5px;
    right: 0;
    height: 10px;
    width: 10px;
    border-radius: 50%; }
  .heading-section--sub {
    display: block;
    color: #bcbcbc;
    font-weight: 300;
    font-size: 1.8rem;
    margin-top: 2rem;
    letter-spacing: 5px; }
  .heading-section--dark {
    color: #000;
    font-weight: 500; }
  .heading-section--dark::after, .heading-section--dark::before {
    background-color: #000; }

.heading-primary {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #e4c478;
  position: relative;
  font-weight: 300;
  display: inline-block; }
  @media only screen and (max-width: 600px) {
    .heading-primary {
      font-size: 2.3rem; } }
  .heading-primary::after, .heading-primary::before {
    content: "";
    position: absolute;
    background-color: #e4c478; }
  .heading-primary::after {
    width: 5px;
    height: 4rem;
    top: -5rem;
    left: 0; }
    @media only screen and (max-width: 600px) {
      .heading-primary::after {
        visibility: hidden;
        opacity: 0;
        height: 0;
        width: 0; } }
  .heading-primary::before {
    width: 4rem;
    height: 5px;
    right: -5rem;
    bottom: 0; }
  .heading-primary--bg {
    background-image: linear-gradient(135deg, transparent 0%, transparent 40%, #29bdff 40%); }
  .heading-primary--dark {
    color: #000;
    font-weight: 500; }
  .heading-primary--dark::after, .heading-primary--dark::before {
    background-color: #000; }

.heading-secondary {
  font-size: 1.8rem;
  color: #29bdff;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out; }
  @media only screen and (max-width: 940px) {
    .heading-secondary {
      font-size: 1.6rem; } }
  .heading-secondary--main {
    display: inline-block;
    padding: 0.1rem 1rem;
    background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #29bdff 50%);
    background-size: 220%;
    transition: all 0.3s ease-in-out; }
  .heading-secondary:hover .heading-secondary--main {
    background-position: 100%;
    color: #fff; }

.heading-tertiary {
  font-size: 1.8rem;
  color: #dfcda5;
  line-height: 1.7; }

.heading-fifth {
  font-size: 1.8rem;
  color: #e4c478;
  margin-top: 1rem; }

.paragraph {
  font-size: 1.6rem;
  font-weight: 300;
  color: #333333;
  word-break: break-word;
  line-height: 1.7;
  text-align: justify; }
  .paragraph--big {
    color: #666666;
    font-size: 2rem;
    margin-bottom: 1rem; }
  .paragraph--medium {
    color: #e4c478;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 500; }
  .paragraph--tiny {
    color: #bcbcbc;
    font-size: 1.2rem; }

.special-line {
  color: #e4c478;
  font-style: italic; }

.u-text-center {
  text-align: center; }

.u-text-right {
  text-align: right; }

.u-text-upper {
  text-transform: uppercase; }

.u-text-cap {
  text-transform: capitalize; }

.u-text-100 {
  font-weight: 100; }

.u-margin-bottom-1 {
  margin-bottom: 1rem; }

.u-margin-top-1 {
  margin-top: 1rem; }

.u-margin-bottom-2 {
  margin-bottom: 2rem; }

.u-margin-top-2 {
  margin-top: 2rem; }

.u-margin-bottom-3 {
  margin-bottom: 3rem; }

.u-margin-top-3 {
  margin-top: 3rem; }

.u-margin-bottom-4 {
  margin-bottom: 4rem; }

.u-margin-top-4 {
  margin-top: 4rem; }

.u-margin-bottom-5 {
  margin-bottom: 5rem; }

.u-margin-top-5 {
  margin-top: 5rem; }

.u-margin-bottom-6 {
  margin-bottom: 6rem; }

.u-margin-top-6 {
  margin-top: 6rem; }

.u-margin-bottom-7 {
  margin-bottom: 7rem; }

.u-margin-top-7 {
  margin-top: 7rem; }

.u-margin-bottom-8 {
  margin-bottom: 8rem; }

.u-margin-top-8 {
  margin-top: 8rem; }

.u-margin-bottom-9 {
  margin-bottom: 9rem; }

.u-margin-top-9 {
  margin-top: 9rem; }

.u-margin-bottom-10 {
  margin-bottom: 10rem; }

.u-margin-top-10 {
  margin-top: 10rem; }

.u-padding-top-bottom-20 {
  padding: 20rem 0; }

.u-grey-bg {
  background-color: #f7f7f7; }

.u-text-color-dark {
  color: #000; }

.u-text-color-light {
  color: #fff; }

.u-flex {
  display: flex; }

.u-inline-flex {
  display: inline-flex; }

.u-flex-wrap {
  flex-wrap: wrap; }

.u-flex-no-wrap {
  flex-wrap: nowrap; }

.u-justify-content-center {
  justify-content: center; }

.u-justify-content-start {
  justify-content: flex-start; }

.u-justify-content-end {
  justify-content: flex-end; }

.u-justify-content-between {
  justify-content: space-between; }

.u-justify-content-around {
  justify-content: space-around; }

.u-align-item-center {
  align-items: center; }

.u-align-item-start {
  align-items: flex-start; }

.u-align-item-end {
  align-items: flex-end; }

.u-align-self-end {
  align-self: flex-end; }

.u-flex-1 {
  flex: 1; }

.u-flex-column {
  flex-direction: column; }

.mouse-scroll {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%); }
  .mouse-scroll__link {
    display: block;
    width: 3rem;
    height: 5rem;
    border-radius: 20rem;
    background-color: #fff;
    position: relative;
    transition: all 0.3s ease-in-out; }
  .mouse-scroll__link::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 15%;
    transform: translateX(-50%);
    height: 7px;
    width: 1px;
    background-color: #000; }
  .mouse-scroll__link:hover {
    transform: translateY(-2rem); }

.period {
  display: block;
  cursor: pointer; }
  .period__img {
    position: relative; }
    .period__img img {
      display: block;
      width: 100%;
      margin: 0 auto;
      height: 50rem;
      object-fit: cover; }
  .period__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: all 0.3s ease-in-out; }
  .period__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 0;
    height: 0;
    border: 3px solid #e4c478;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out; }
  .period__btn {
    transform: translateY(10rem);
    opacity: 0;
    transition: all 0.3s ease-in-out; }
  .period__content {
    height: calc(100%-50rem);
    text-align: center;
    margin-top: 2rem; }
  .period__title {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #e4c478; }
  .period__date {
    font-weight: 100;
    font-family: 1.5rem;
    color: #fff;
    margin-top: auto; }
  .period:hover .period__box {
    width: 90%;
    height: 90%;
    opacity: 1;
    visibility: visible; }
  .period:hover .period__btn {
    transform: translateY(0);
    opacity: 1; }
  .period:hover .period__img .period__overlay {
    opacity: 1; }
  @media only screen and (max-width: 900px), only screen and (hover: none) {
    .period__overlay {
      opacity: 1; }
    .period__box {
      width: 90%;
      height: 90%;
      opacity: 1;
      visibility: visible; }
    .period__btn {
      opacity: 1;
      transform: translateY(0); } }

.btn {
  padding: 1rem 2rem;
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: uppercase; }
  .btn-primary {
    color: #e4c478;
    border: 1px solid #e4c478;
    transition: all 0.3s ease-in-out; }
    .btn-primary:hover {
      background-color: #e4c478;
      color: #fff; }
  .btn--small {
    font-size: 1.5rem;
    padding: 0.5rem 1rem; }
  .btn-line {
    position: relative;
    padding-bottom: 2rem;
    color: #e4c478;
    font-size: 1.5rem;
    text-transform: uppercase;
    transition: all 0.3s ease-in-out; }
    .btn-line:hover {
      color: #fff; }

.composition {
  position: relative; }
  .composition__img {
    position: absolute;
    width: 55%;
    border: 5px solid rgba(228, 196, 120, 0.7);
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2); }
    .composition__img--1 {
      top: 5rem;
      left: 0; }
    .composition__img--2 {
      top: 0;
      right: 0rem; }
    .composition__img--3 {
      top: 15rem;
      left: 20%; }

.slides {
  position: relative;
  width: 100%;
  height: 100vh; }
  @media only screen and (max-width: 600px) {
    .slides {
      height: 70vh; } }
  .slides-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    opacity: 0;
    transition: all 0.5s; }
  .slides-item.active {
    opacity: 1;
    visibility: visible;
    z-index: 4; }
  .slides-list {
    position: absolute;
    bottom: 5rem;
    left: 5rem;
    z-index: 4; }
  .slides-circle:not(:last-child) {
    margin-bottom: 1.5rem; }
  .slides-link {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    border: thin solid #e4c478;
    transition: all 0.3s ease-in-out; }
  .slides-link.active {
    background-color: #e4c478; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input, .form__textarea {
  width: 100%;
  border: none;
  outline: none;
  border-bottom: 1px solid #e4c478;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: #e4c478;
  transition: 0.6s;
  background-color: transparent; }

.form__input::placeholder, .form__textarea::placeholder {
  color: #e4c478;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 100; }

.form__textarea {
  height: 10rem;
  font-family: 'Montserrat', sans-serif; }

.form__input:focus, .form__textarea:focus {
  border-color: #dfcda5; }

.tab__list {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 6rem; }

.tab__item:not(:last-child) {
  margin-right: 1.5rem; }

.tab__link {
  color: #e4c478;
  font-size: 1.5rem;
  padding: .5rem 1rem;
  transition: all 0.3s ease-in-out; }

.tab__link.active {
  border: 1px solid #e4c478;
  border-radius: 20rem;
  background: #e4c478;
  color: #fff; }

.tab__content {
  display: none;
  transition: all 0.3s ease-in-out; }

.tab__content.active {
  display: block;
  animation: fadeIn 2s ease, moveSlide 1s ease; }

.gallery {
  padding: 10rem 0; }

.gallery-smart-row {
  display: flex;
  flex-wrap: wrap;
  height: 100%; }

.gallery-smart-col-1 {
  flex: 0 0 25%;
  max-width: 25%; }

.gallery-smart-col-2 {
  flex: 0 0 50%;
  max-width: 50%; }

.gallery-smart-col-4 {
  flex: 0 0 100%;
  max-width: 100%; }

.wrap-img {
  overflow: hidden;
  height: 100%; }
  .wrap-img img {
    display: block;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    border: 1rem solid #f8f8f8;
    opacity: .7;
    transition: all 0.3s ease-in-out;
    height: 100%;
    cursor: pointer; }
  .wrap-img:hover img {
    transform: scale(1.1);
    opacity: 1; }

#lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
  display: none;
  z-index: 100; }
  #lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    animation: fadeIn 0.5s; }
  #lightbox img {
    width: 80%;
    height: 80%;
    object-fit: cover; }

.pagination {
  display: inline-block; }
  .pagination a {
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    padding: 0.5rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #fff;
    float: left;
    border: 1px solid #fff;
    transition: all 0.4s; }
    .pagination a:not(:last-child) {
      margin-right: 0.5rem; }
    .pagination a.active {
      background-color: #e4c478;
      color: #fff; }
    .pagination a:hover:not(.active) {
      background-color: #bdbdbd; }

.wrap-catalog {
  width: 100%;
  height: 100%; }
  .wrap-catalog.active {
    position: relative; }

.catalog {
  border: 1rem solid #f8f8f8;
  padding: 4rem 1.5rem;
  width: 36rem;
  transition: top 0.7s;
  background-image: url(../img/bg-paper.jpg); }
  @media only screen and (max-width: 1200px) {
    .catalog {
      width: 30rem; } }
  @media only screen and (max-width: 940px) {
    .catalog {
      width: 100%; } }
  .catalog__item:not(:last-child) {
    margin-bottom: 2rem; }
  .catalog__link {
    color: #666666;
    display: inline-block;
    transition: all 0.2s; }
    .catalog__link:hover {
      color: #000;
      margin-left: 1rem; }
  .catalog.active {
    position: fixed;
    top: 1rem; }
    @media only screen and (max-width: 940px) {
      .catalog.active {
        position: static; } }
  .catalog.active-2 {
    position: absolute;
    bottom: 10rem; }

.section-overview {
  padding: 10rem 0;
  background-color: #fffeee; }

.overview__img img {
  display: block;
  width: 100%;
  margin: 0 auto;
  border: 1rem solid #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  object-fit: cover;
  height: 100%; }

.overview__description {
  font-size: 1.2rem;
  font-style: italic;
  text-align: center; }

.overview__over {
  text-align: right;
  font-size: 1.4rem;
  color: #e4c478; }

.card {
  perspective: 150rem;
  -webkit-perspective: 150rem;
  position: relative;
  height: 60rem; }
  .card__side {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50rem;
    backface-visibility: hidden;
    overflow: hidden;
    transition: all 0.5s;
    box-shadow: 0 1.5rem 4rem rgba(228, 196, 120, 0.35);
    border-radius: 5px; }
  .card__side-back {
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    .card__side-back--1 {
      background-image: linear-gradient(60deg, #e4c464, #dfcda5); }
    .card__side-back--2 {
      background-image: linear-gradient(60deg, #0aaefa, #29bdff); }
    .card__side-back--3 {
      background-image: linear-gradient(60deg, #9ad34b, #add478); }
  .card:hover .card__side-back {
    transform: rotateY(0); }
  .card:hover .card__side-front {
    transform: rotateY(-180deg); }
  .card__head {
    height: 23rem;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    position: relative; }
    .card__head--1 {
      background-image: linear-gradient(60deg, rgba(228, 196, 100, 0.7), rgba(223, 205, 165, 0.7)), url(../img/event-1.jpg); }
    .card__head--2 {
      background-image: linear-gradient(60deg, rgba(10, 174, 250, 0.7), rgba(41, 189, 255, 0.7)), url(../img/event-2.jpg); }
    .card__head--3 {
      background-image: linear-gradient(60deg, rgba(154, 211, 75, 0.7), rgba(173, 212, 120, 0.7)), url(../img/event-3.png); }
    .card__head img {
      display: block;
      width: 100%;
      margin: 0 auto;
      object-fit: cover; }
  .card__label {
    position: absolute;
    right: 1rem;
    top: 6rem;
    color: #fff;
    background-color: rgba(228, 196, 100, 0.7);
    padding: 1rem 1rem; }
  .card__content {
    background-color: #f7f7f7;
    margin-top: -4rem;
    padding: 4.5rem 2rem; }
  .card__title {
    font-size: 1.6rem;
    color: #e4c464;
    text-align: center;
    font-weight: 300;
    text-transform: capitalize;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 600px) {
      .card__title {
        font-size: 1.8rem; } }
  .card__list {
    text-align: center; }
  .card__item {
    padding: 1.5rem 0;
    font-size: 1.5rem;
    color: #bcbcbc; }
    .card__item:not(:last-child) {
      margin-bottom: 0.5rem;
      border-bottom: 1px solid #eeeeee; }
  .card__date {
    text-align: center;
    padding: 1rem;
    border-top: 1px solid #dfcda5;
    color: #dfcda5; }
  .card__price {
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase; }
  .card__btn {
    padding: 1rem 2rem;
    color: #fff;
    border: 1px solid #fff;
    margin-top: 3rem;
    border-radius: 5px;
    transition: 0.3s al; }
  .card__btn:hover {
    background-color: #fff; }
  .card__btn--1:hover {
    color: #dfcda5; }
  .card__btn--2:hover {
    color: #29bdff; }
  .card__btn--3:hover {
    color: #add478; }
  @media only screen and (max-width: 900px), only screen and (hover: none) {
    .card {
      height: auto; }
      .card__side {
        height: auto;
        position: relative;
        border-radius: 0; }
      .card__side-back {
        transform: rotateY(0);
        padding: 10rem 0;
        clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
        margin-top: -8rem; }
      .card__content {
        padding-bottom: 6rem; }
      .card:hover .card__side-back {
        transform: rotateY(0); }
      .card:hover .card__side-front {
        transform: rotateY(0); } }

.article-v {
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  padding-bottom: 1rem;
  background-color: #fff;
  cursor: pointer; }
  .article-v__img {
    width: 100%;
    padding-top: 75%;
    position: relative;
    overflow: hidden; }
    .article-v__img img {
      display: block;
      width: 100%;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0; }
  .article-v__content {
    height: 25%;
    margin-top: 2rem;
    padding: 0 2rem; }
  .article-v__date {
    margin-top: auto; }
  .article-v__author {
    text-align: right; }
  .article-v__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 4rem; }
  .article-v__description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 10rem; }

.article-h {
  background-color: #fff;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  display: flex; }
  @media only screen and (max-width: 940px) {
    .article-h {
      margin: 0 -1.5rem; } }
  .article-h__img {
    flex: 0 0 50%;
    max-width: 50%;
    padding-top: 50%;
    position: relative;
    overflow: hidden; }
    .article-h__img img {
      display: block;
      width: 100%;
      margin: 0 auto;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      object-fit: cover;
      border: 10px solid #f8f8f8; }
  .article-h__content {
    height: 25%;
    margin-top: 2rem;
    padding: 0 2rem;
    padding-bottom: 2rem; }
  .article-h__date {
    margin-top: auto; }
  .article-h__author {
    text-align: right; }
  .article-h__title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 6rem; }
  .article-h__description {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 10rem; }

.container-full {
  width: 100%;
  margin: 0 auto; }

.container {
  width: 117rem;
  margin: 0 auto; }
  @media only screen and (max-width: 1200px) {
    .container {
      width: 96rem; } }
  @media only screen and (max-width: 940px) {
    .container {
      width: 70rem; } }
  @media only screen and (max-width: 600px) {
    .container {
      width: 100%; } }

.row {
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 940px) {
    .row:not(:last-child) {
      margin-bottom: 3rem; } }

[class^="col-"] {
  margin-bottom: 3rem;
  padding: 0 1.5rem; }
  @media only screen and (max-width: 600px) {
    [class^="col-"] {
      padding: 0 2rem; } }

.col-1-of-1 {
  flex: 0 0 100%;
  max-width: 100%; }

.col-1-of-2 {
  flex: 0 0 50%;
  max-width: 50%; }
  @media only screen and (max-width: 940px) {
    .col-1-of-2 {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 3rem; } }

.col-1-of-3 {
  flex: 0 0 33.33333%;
  max-width: 33.33333%; }
  @media only screen and (max-width: 940px) {
    .col-1-of-3 {
      flex: 0 0 100%;
      max-width: 100%; } }

.col-2-of-3 {
  flex: 0 0 66.66667%;
  max-width: 66.66667%; }
  @media only screen and (max-width: 940px) {
    .col-2-of-3 {
      flex: 0 0 100%;
      max-width: 100%; } }

.col-1-of-4 {
  flex: 0 0 25%;
  max-width: 25%; }
  @media only screen and (max-width: 940px) {
    .col-1-of-4 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media only screen and (max-width: 600px) {
    .col-1-of-4 {
      flex: 0 0 100%;
      max-width: 100%; } }

.col-unique {
  flex: 0 0 50%;
  max-width: 50%; }
  @media only screen and (max-width: 940px) {
    .col-unique--1 {
      flex: 0 0 65%;
      max-width: 65%; } }
  @media only screen and (max-width: 600px) {
    .col-unique--1 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media screen and (max-width: 450px) {
    .col-unique--1 {
      flex: 0 0 100%;
      max-width: 100%; } }
  @media only screen and (max-width: 940px) {
    .col-unique--2 {
      flex: 0 0 35%;
      max-width: 35%; } }
  @media only screen and (max-width: 600px) {
    .col-unique--2 {
      flex: 0 0 50%;
      max-width: 50%; } }
  @media screen and (max-width: 450px) {
    .col-unique--2 {
      flex: 0 0 100%;
      max-width: 100%; } }
  .col-unique--3 {
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 6rem; }
    @media only screen and (max-width: 940px) {
      .col-unique--3 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 2rem; } }
    @media only screen and (max-width: 600px) {
      .col-unique--3 {
        padding: 0 1.5rem; } }
  .col-unique--4 {
    flex: 0 0 35%;
    max-width: 35%; }
    @media only screen and (max-width: 940px) {
      .col-unique--4 {
        flex: 0 0 100%;
        max-width: 100%; } }

.nav-head {
  flex: 1;
  padding: 3rem 0;
  margin-left: 7rem; }
  @media only screen and (max-width: 940px) {
    .nav-head {
      display: none; } }
  .nav-head__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: 5rem; }
    @media screen and (max-width: 1060px) {
      .nav-head__list {
        justify-content: center; } }
  .nav-head__item {
    position: relative; }
    .nav-head__item:not(:last-child) {
      margin-right: 2rem; }
  .nav-head__link {
    color: #fff;
    font-size: 1.3rem;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.5rem 0 1rem;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.3s ease-in-out; }
    .nav-head__link:after, .nav-head__link::before {
      content: "";
      width: 0;
      height: 1px;
      position: absolute;
      bottom: 0;
      transition: all 0.3s ease-in-out; }
    .nav-head__link::after {
      background-color: #fff;
      left: 0; }
    .nav-head__link::before {
      background-color: #000;
      left: 85%; }
    .nav-head__link:hover::after, .nav-head__link.active::after {
      width: 80%; }
    .nav-head__link:hover::before, .nav-head__link.active::before {
      width: 10%; }
    .nav-head__link:hover, .nav-head__link.active {
      color: #fff; }
  .nav-head__item:hover ul {
    width: 20rem;
    opacity: 1;
    visibility: visible; }
  .nav-head__link--white {
    color: #fff; }
    .nav-head__link--white::after {
      background-color: #e4c478; }
    .nav-head__link--white:before {
      background-color: #fff; }
    .nav-head__link--white:hover, .nav-head__link--white.active {
      color: #e4c478; }

.nav-responsive {
  position: fixed;
  width: 0%;
  height: 100vh;
  background-color: #e4c478;
  right: 0;
  top: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 20; }
  .nav-responsive__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem; }
  .nav-responsive__item {
    padding: 1.5rem 0;
    width: 80%;
    text-align: center; }
  .nav-responsive__link, .nav-responsive__link:link, .nav-responsive__link:visited {
    color: #fff;
    transition: 0.5s all;
    display: block;
    padding: 1rem 0;
    text-transform: uppercase;
    background-image: linear-gradient(135deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 220%;
    letter-spacing: 2px; }
  .nav-responsive__link:hover {
    background-position: 100%;
    color: #e4c478; }
  .nav-responsive__close {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background-color: #fff;
    color: #e4c478;
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 22;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; }
  .nav-responsive.active {
    width: 40%;
    opacity: 1;
    visibility: visible; }
    @media only screen and (max-width: 600px) {
      .nav-responsive.active {
        width: 50%; } }
    @media screen and (max-width: 40rem) {
      .nav-responsive.active {
        width: 70%; } }

.nav-footer {
  padding: 2rem; }
  .nav-footer__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
  .nav-footer__item {
    margin-left: 1rem;
    margin-right: 1rem; }
  .nav-footer__link {
    text-transform: capitalize;
    font-size: 1.4rem;
    color: #000;
    transition: all 0.3s ease-in-out;
    display: inline-block; }
    .nav-footer__link:hover {
      transform: translateX(1rem); }

.nav-social__list {
  display: flex;
  justify-content: flex-end; }

.nav-social__item:not(:last-child) {
  margin-right: 2rem; }

.nav-social__link {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: #29bdff;
  color: #fff;
  border: thin solid #29bdff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out; }

.nav-social__link:hover {
  background-color: #fff;
  color: #29bdff; }

.nav-bar {
  width: 4rem;
  height: 4rem;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  margin-left: 3rem;
  position: absolute;
  right: 0;
  cursor: pointer; }
  @media only screen and (max-width: 940px) {
    .nav-bar {
      display: flex; } }
  @media only screen and (max-width: 600px) {
    .nav-bar {
      right: 10rem; } }
  .nav-bar__line {
    width: 50%;
    display: flex;
    justify-content: flex-end; }
    .nav-bar__line, .nav-bar__line::after, .nav-bar__line::before {
      position: absolute;
      height: 1.5px;
      background-color: #fff; }
    .nav-bar__line::after, .nav-bar__line::before {
      content: ""; }
    .nav-bar__line::after {
      width: 150%;
      top: 0.75rem; }
    .nav-bar__line::before {
      width: 70%;
      top: -0.75rem; }
  .nav-bar--gold .nav-bar__line, .nav-bar--gold .nav-bar__line::after, .nav-bar--gold .nav-bar__line::before {
    background-color: #e4c478; }

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden; }
  .nav-overlay.active {
    opacity: 1;
    visibility: visible;
    z-index: 10; }

.banner {
  height: 100vh;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding-top: 20rem; }
  @media only screen and (max-width: 600px) {
    .banner {
      height: 70vh; } }
  .banner--1 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/banner-1.jpg); }
  .banner--2 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/banner-2.jpg); }
  .banner--3 {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(../img/banner-3.jpg); }
  .banner--small {
    height: 60vh;
    padding: 0;
    background-position: center; }
  .banner__box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; }

.header {
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  border-bottom: 1px solid #e4c478;
  background-color: #e4c478;
  border-bottom-right-radius: 10rem; }
  .header__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; }
  .header.absolute {
    position: absolute;
    background-color: transparent;
    border: none; }
  .header.active {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    animation: moveInTop 1.5s ease, fadeIn 1.5s ease;
    background-color: #e4c478; }

.logo a img {
  display: block;
  width: 100%;
  margin: 0 auto;
  width: 10rem; }

.logo a img.grey {
  filter: grayscale(100%); }

.footer {
  padding-top: 10rem;
  background: #11110f; }
  @media only screen and (max-width: 600px) {
    .footer {
      padding-top: 7rem; } }
  .footer__heading {
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 400;
    color: #e4c478;
    margin-bottom: 2rem; }
  .footer__logo a img {
    width: 15rem; }
    @media only screen and (max-width: 600px) {
      .footer__logo a img {
        width: 20rem; } }
  @media only screen and (max-width: 600px) {
    .footer__logo {
      display: flex;
      justify-content: center;
      align-items: center; } }
  .footer__item {
    font-size: 1.2rem;
    color: #bcbcbc;
    font-weight: 300; }
    .footer__item:not(:last-child) {
      margin-bottom: 1rem; }
  .footer__copy {
    background: #000;
    padding: 2rem 0;
    box-shadow: 1.5rem 0 4rem rgba(0, 0, 0, 0.3); }
  .footer__social {
    display: flex;
    justify-content: flex-start; }
    .footer__social-link {
      width: 3rem;
      height: 3rem;
      color: #e4c478;
      border: 1px solid #e4c478;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem; }
      .footer__social-link:hover {
        background-color: #fff; }

.copy {
  font-size: 1.2rem;
  color: #e4c478;
  letter-spacing: 4px; }

.section-quickview {
  padding: 10rem 0; }
  @media only screen and (max-width: 940px) {
    .section-quickview {
      padding-bottom: 50rem; } }

.section-period {
  padding: 10rem 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/period-bg.png);
  background-size: cover;
  background-position: center; }

.section-blog {
  padding: 10rem 0; }

.section-event {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/event-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10rem 0; }

.section-contact {
  padding: 10rem 0; }

.historical-period {
  padding: 10rem 0;
  background-color: #f8f8f8; }

.blog-post {
  background-image: url(../img/bg-paper.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
