.container {
    width: 100%;
    margin: 0 auto;
    padding-left:1.5rem;
    padding-right:1.5rem
}

.width-100 {
    width: 100% !important;
}
//4. Make row
.row {
    display: flex;
    flex-wrap: wrap;
    margin-left:-1.5rem;
    margin-right:-1.5rem;
}
@media screen and (max-width: 1600px) {
    .container {
        max-width: 1140px;
        margin: 0 auto;
    }
}
@media screen and (max-width: 992px) {
    .container {
        max-width: 700px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
    .container {
        max-width: 500px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .container {
        max-width: 400px;
        margin: 0 auto;
    }
}

//3. Make col
$num:(1, 2, 3, 4, 5, 6, 7, 8, 9, 10,11,12);
@each $col in $num {
    .col-#{$col} {
        flex: 0 0 calc((100% - #{$col-horizontal})/ #{$col});
        max-width: calc((100% - #{$col-horizontal})/ #{$col});
    }
}

.col-unique-2{
    flex: 0 0 calc(100% / 2);
    max-width: calc(100%/ 2);
}
.col-unique-4{
    flex: 0 0 calc(100% / 4);
    max-width: calc(100%/ 4);

}
// Medium devices (tablets, 768px and up)
@media (max-width: 992px) {
    .col-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .col-2,.col-3{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom:1.5rem;
    }
    .col-unique-2,.col-unique-4,.col-3-100{
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
    .row{
        margin-left:0;
        margin-right:0;
    }
}

@media (max-width: 768px) {
   .col-4{
       margin-bottom:2rem;
   }
}


@media (max-width: 576px) {
    .col-3,
    .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}



//make flex
.flex {
    display: flex;
    flex-wrap: wrap;
}

.f-cen {
    justify-content: space-between;
    align-items: center;
}

.justify-center {
    justify-content: space-between;
}
.justify-around{
    justify-content: space-around;
}
.cen {
    justify-content: center;
    align-items: center;
}
.align-center{
    align-items: center;
}
//padding
.padding-section {
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.z-index {
    z-index: 10;
    position: relative;
}
.relative{
    position: relative;
}.overflow-hidden{
    overflow: hidden;
}