.header{
    height:90vh;
    background-image:linear-gradient(to right, $color-secondary 0%,$color-secondary 50%, $color-primary 50%);
    position: relative;
    &-left,&-right{
        position: absolute;
        top:0;
        width:50%;
        height:100%;
    }
    &-left{
        left:0;
        background-color:#000000;
    }
    &-right{
        right:0;
        background-color:$color-primary;
    }
}
.logo{
    @include center;
    -webkit-filter: drop-shadow(-8px 75px 30px #000000);
    filter: drop-shadow(-8px 75px 30px #000000);
    -ms-transform: translate(-50%,-50%);
    @include screen(tab-portrait){
    }
}