.adverisement{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    &__img{
        img{
            width:100%;
            display: block;
            margin: 0 auto;
        }
    }
}