.box-news{
    display: flex;
    &:not(:last-child){
        margin-bottom:2rem;
    }
    &__img{
        flex:0 0 40%;
        max-width: 40%;
        margin-right:2rem;
        img{
            width:100%;
            object-fit: cover;
            display: block;
            margin: 0 auto;
        }
    }
}
