.bg-form{
    padding:20rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    &__side{
        position: absolute;
        width: 70%;
        height: 100%;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        background-image: linear-gradient(135deg,rgba($color-primary-dark,0.8) 30%, rgba($color-primary-light,0.8) 50%);
        clip-path:polygon(0% 0%, 100% 0%, 80% 100%, 0% 100%);
        @include screen(tab-portrait){
            width:60%;
        }
        @include screen(phone){
            clip-path:polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
            width:100%;
        }
    }
    &__img{
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        img{
            width:100%;height:100%;object-fit: cover;
            @include screen(phone){
                width:0;
            }
        }
    }
}
.sign-in{
    position: fixed !important;
    width:100rem;
    height:32rem;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    box-shadow: $shadow-light;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: $transition-3s;
    z-index:21;
    @include screen(tab-portrait){
        width:70rem;
    }
    @include screen(phone){
        width:50rem;
    }
    &.active{
        opacity: 1;
        visibility: visible;
    }
   
    &__close{
        width:3.5rem;
        height:3.5rem;
        border-radius:50%;
        background-color:$color-primary-dark;
        color:#fff;
        position: absolute;
        top:2rem;
        right:2rem;
        z-index:22;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }
}
.group-container{
    display:flex;
    flex-direction: column;
    padding:2rem;
    @include screen(phone){
        align-items: center;
    }
}
.group-control{
    width:80%;
    display: flex;
    justify-content: center;
    &:not(:last-child){
        margin-bottom:2rem;
    }
}
.input-style{
    width:100%;
    position: relative;
    box-shadow: 1px 1px 4rem rgba(#000,0.2);
    &::after,&:before{
        content:"";
        position: absolute;
        width:5px;
       
        top:0;
    }
    &:after{
        height:100%;
        left:0;
        background-color:$color-primary-light;
    }
    &:before{
        height:50%;
        left:7px;
        background-color:$color-tertiary-2;
    }
    input{
        width:100%;
        padding: 1.4rem 2rem;
        outline:none;
        font-size:1.4rem;
        color:$color-primary-light;
        &::placeholder{
                    font-size:1.4rem;
                    color:#bcbcbc;
                    font-style: italic;
                    opacity: 0.7;
        }
        &:focus ~ .input-style__icon{
            border-bottom: 5px solid $color-primary-light;
        }
    }
    &__icon{
        position: absolute;
        right:0;
        top:0;
        height:100%;
        width:12%;
        display:flex;
        align-items: center;
        justify-content: center;
        border-left: 0.5px solid #f1f1f1;
        color:#bcbcbc;
        transition: 0.3s;
    }
}
// .input-style{
//     width:100%;
//     border:none;
//     padding: 1.4rem 2rem;
//     font-size:1.4rem;
//     color:$color-primary-light;
//     outline:none;
//     position: relative;
//     display: inline-block;
//     &::placeholder{
//         font-size:1.4rem;
//         color:$color-primary-dark;
//         font-style: italic;
//         opacity: 0.7;
//     }
//     &:focus{
//         box-shadow: $shadow-light;
//     }
//     &::after,&:before{
//         content:"Aaaaaaa";
//         position: absolute;
//         width:5px;
//         height:100%;
//         top:0;
//     }
//     &:after{
//         left:0;
//         background-color:$color-primary-light;
//     }
//     &:before{
//         left:7px;
//         background-color:$color-tertiary-2;
//     }
// }
.button-style{
    cursor: pointer;
    border-radius: 3px;
    padding: 1rem 3em;
    display: inline-block;
    color:#fff;
    background-color:$color-secondary;
    margin-left:1rem;
    margin-right:1rem;
    font-size:1.4rem;
    border:none;
    box-shadow: 1px 1px 4rem rgba(#000,0.5);
    outline:none;
    transition: 0.4s;
    &:hover{
        background-color:$color-primary-light;
    }
}
.group-radio{
    flex: 0 0 50%;
    max-width: 50%;
    padding:0 1.5rem;
}
.radio-style{
    display: none;
    &__wrap{
        display: flex;    
        align-items: center;
        padding: 0 1.5rem;
        color:$color-primary;
    }
    &__btn{
        display: inline-flex;
        width:3rem;
        height:3rem;
        border-radius:50%;
        border: 2px solid $color-primary;
        margin-right:2rem;
        justify-content: center;
        align-items: center;
        &::after{
            content:"";
            width: 80%;
            height:80%;
            border-radius: 50%;
            background-color:$color-primary;
            opacity:0;
            transition: $transition-3s;
        }
    }
    &:checked ~ &__wrap &__btn::after{
        opacity: 1;
     }
}
.area-style{
    width:100%;
    border:none;
    resize: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    font-size:1.4rem;
    color:$color-primary-light;
    height:10rem;
    box-shadow: 1px 1px 4rem rgba(#000,0.2);
    &::placeholder{
        font-size:1.4rem;
        font-style: italic;
        color:$color-primary;
    }
}
