.search{
    background-color:transparent;
    @include screen(phone){
        order:2;
        padding-left:3rem;
      }
    &__checkbox{
       
        display: none;
    }
   
    &-control{
        opacity: 1;
        visibility: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
        @include screen(phone){
            justify-content: flex-start;
          }
 
    }
    &__group-control{
        display: flex;
        justify-content: center;
        background-color:transparent;
        width:30rem;
        height:4rem;
        position: relative;
        transition: 0.4s;
        input{
            position: absolute;
            width:100%;
            height:100%;
            top:0;
            right:0;
            outline: none;
            padding: 0 2rem;
            font-size:1.6rem;
            color:$color-primary;
            border:none;
            border: 2px solid $color-primary-light;
            border-radius: 20rem;
            transition: 0.4s;
        }
    }
    &__icon{
        height:4rem;
        width:4rem;
        position: absolute;
        top:0;
        right:0;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $color-primary;
        border-radius:50%;
        transition: 0.5s;
        cursor: pointer;
        i{
            font-size:2rem;
            color:$color-primary;
        }
    }
    &__group-control input:focus + &__icon{
        transform: rotate(360deg);
    }
    // &__checkbox:checked + &-control{
    //     width:30rem;
    //     opacity: 1;
    //     visibility: visible;
    // }
    // &__checkbox:checked + &-control &__group-control input{
    //     width:30rem;
    //     opacity: 1;
    //     visibility: visible;
    // }
}