.timeline{
    margin: 0 auto;
    &__item{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0;
        border-top: 1.5px dotted #f1f1f1;
        &:last-child{
            border-bottom: 1.5px dotted #f1f1f1;
        }
    }
    &__title{
        flex: 1;
        color:#000;
        font-size:1.4rem;
       
    }
    &__label{
        color:$color-primary;
        font-weight: 700;
        flex: 0 0 20%;
        max-width:20%;
    }
    &__date{
        font-size:1.3rem;
        color:#bcbcbc;
        font-style:italic;
    }
}