body{
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight: 400;
    font-size:$default-font-size;
    line-height: 1.7;
}
// heading
.heading-intro{
    font-family: 'Dancing Script', cursive;
    color:$color-primary-light;
    font-size:6rem;
    letter-spacing: 4px;
    text-align: center;
    @include screen(phone){
        font-size:5rem;
      }
}
.heading-section{
    position: relative;
    display: inline-block;
    padding: 2rem;
    font-size:4.1rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    background-image: linear-gradient(135deg,#bd3829,#ff9d1c);
    color:transparent;
    -webkit-background-clip: text;
    @include screen(tab-portrait){
        font-size:3.1rem;
      }
    &::after,&::before{
        content:"";
        position: absolute;
        width:5rem;
        height:5rem;
        background-color:transparent;
    }
    &::after{
        top:0;
        left:0;
        border-top:4px solid $color-primary;
        border-left:4px solid $color-primary;
    }
    &:before{
        bottom:0;
        right:0;
        border-bottom:4px solid $color-primary;
        border-right:4px solid $color-primary;
    }
}
.heading-2-line{
    font-size:3rem;
    text-transform: uppercase;
    color:$color-primary;
    position: relative;
    padding-left:2rem;
    letter-spacing: 2px;
    @include screen(tab-portrait){
        font-size:2.4rem;
        padding-left:4rem;
      }
    &::after,&::before{
        content:"";
        position: absolute;
        width:6px;
        top:0; 
    }
    &::after{
        height:100%;
        background-color:$color-primary-light;
        left:0;
    }
    &::before{
        height:50%;
        background-color:$color-secondary;
        left:8px;
    }
    &--white{
        color:#fff;
        &::after{
            background-color:#fff;
        }
    }
}
.heading-primary{
    font-size:2.2rem;
    text-transform: uppercase;
    color:$color-primary;
    position: relative;
    padding-left:1.5rem;
    
    &--main{
        &::after{
            content:"";
            position: absolute;
            height:100%;
            width:5px;
            background-color:$color-primary-light;
            top:0;
            left:0;
        }
    }
    &--bg{
        background-image: linear-gradient(135deg, transparent 0%, transparent 40%, $color-secondary 40%);
    }
    
}
.heading-secondary{
    font-size:1.8rem;
    color:$color-secondary;
    text-transform: capitalize;
    letter-spacing: 1px;
    transition: $transition-3s;
    @include screen(tab-portrait){
        font-size:1.6rem;
    }
    &--main{
        display: inline-block;
        padding: 0.1rem 1rem;
        background-image: linear-gradient(135deg, transparent 0%, transparent 50%, $color-secondary 50%);
        background-size:220%;
        transition: $transition-3s;
    }
    &:hover &--main{
        background-position: 100%;
        color:#fff;
    }
}
.heading-tertiary{
    font-size:1.8rem;
    color:$color-primary-light;
}
.paragraph{
    font-size:1.6rem;
    font-weight: 300;
    color:$color-grey-dark;
    word-break: break-word; // wrap text
    &--big{
        color:$color-grey-dark-2;
        font-size:2.1rem;
        line-height: 1.2;
    }
    &--tiny{
        color:$color-grey;
        font-size:1.2rem;

    }
   
}