.text-white {
    color: #fff !important;
}
.text-heading{
    color:$heading-color;
}
.text-primary {
    color: $primary-color;
}

.bg-section {
    background: $bg-color;
}

.bg-primary {
    background: $primary-color;
}

.bg-white {
    background: #fff;
}

.bg-dark {
    background: #000;
}

h1,h2,h3,a {
    font-family: 'Montserrat', sans-serif;
    
}
.text-center{
    text-align: center;
}
