.footer{
    padding:2rem;
    background-image: linear-gradient(-135deg, #fff 0%, #fff 50%, $color-primary 50%);
    &__item{
        font-style: italic;
        color:#000;
        font-size:1.4rem;
        &:not(:last-child){
            margin-bottom: 1rem;
        }
    }
}
.copy{
    font-size:1.6rem;
    flex:1;
    color:#fff;
    span{
        color:$color-primary;
    }
}