.header{
    padding: 3rem 2rem 0;
    &__menu{
        display: flex;
        align-items: center;
        @media screen and (max-width: 1060px){
            flex-wrap: wrap;
            justify-content: center;
        }
        @include screen(tab-portrait){
            justify-content: space-around;
        }
    }
    background-image: linear-gradient(135deg, #fff 0%, #fff 50%, $color-primary-light 50%);
}
.logo{
    @media screen and (max-width: 1060px){
        flex: 0 0 50%;
        max-width: 50%;
    }
    @include screen(tab-portrait){
        flex: 1;
    }
    img{
        height:10rem;
        display: block;
        margin:0 auto;
        @include screen(tab-portrait){
           margin:0;
        }
    }
}
.wrap-btn-header{
    display: flex;
}
.banner{
    height:60vh;
    background-position: center right;
    background-size: cover;
    margin: 3rem -2rem 0;
    
}