.top-header{
    background-image: linear-gradient(135deg, $color-primary-light 0%, $color-primary-light 30%, $color-primary-dark 50%);
}
.top-wrap{
    display: flex;
    justify-content: space-around;
    padding: 2rem 0;
    @include screen(phone){
        flex-direction: column;
      }
}
.top-menu{
    display: flex;
    justify-content: flex-end;
    flex:1;
    @include screen(phone){
       order:2;
       margin-right:3rem;
       margin-top:2rem;
      }
    &-login{
        display: inline-block;
        padding:0.5rem 2rem;
        background:#fff;
        color:$color-primary-dark;
        box-shadow: $shadow-light; 
        transition: $transition-3s;
        margin-right:1rem;
    }
    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left:2rem;
    }
    &__item{
        position: relative;
        ul{
            position: absolute;
            top: 2.7rem;
            left: -1rem;
            z-index: 5;
            opacity: 0;
            visibility: hidden;
            background:#fff;
            transition: $transition-3s;
            &.active{
                opacity: 1;
                visibility: visible;
            }
            li{
                transition: 0.3s;  
                &:not(:last-child){
                    border-bottom:thin solid $color-primary-dark;
                }
                a{
                    padding: 1rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: $transition-3s;
                }
                a:hover{
                    background-color:rgb(160, 160, 160);
                }
            }
        }
        
        &--language{
            &::after{
                 content:"";
                 width:0;
                 height:0;
                 position: absolute;
                 border-left: 5px solid transparent;
                 border-right: 5px solid transparent;
                 border-top: 5px solid #fff;
                 right:-15px;
                 top:50%;
                 transform: translateY(-50%);
            }
        }
    }
    &__link{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}