@keyframes moveDown {
  0% {
    transform: translateY(-20px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes moveLeft {
  0% {
    transform: translateY(-100px);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }
@keyframes invalid {
  0% {
    transform: translateX(-20px); }
  20% {
    transform: translateX(20px); }
  40% {
    transform: translateX(-10px); }
  60% {
    transform: translateX(10px); }
  80% {
    transform: translateX(-5px); }
  100% {
    transform: translateX(0); } }
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

ul {
  list-style: none; }

a {
  text-decoration: none; }

.text-white {
  color: #fff !important; }

.text-heading {
  color: #232323; }

.text-primary {
  color: #232323; }

.bg-section {
  background: rgba(97, 45, 127, 0.2); }

.bg-primary {
  background: #232323; }

.bg-white {
  background: #fff; }

.bg-dark {
  background: #000; }

h1, h2, h3, a {
  font-family: 'Montserrat', sans-serif; }

.text-center {
  text-align: center; }

.container {
  max-width: 117rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.width-100 {
  width: 100% !important; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem; }

@media screen and (max-width: 992px) {
  .container {
    max-width: 700px;
    margin: 0 auto; } }
@media screen and (max-width: 768px) {
  .container {
    max-width: 500px;
    margin: 0 auto; } }
@media screen and (max-width: 576px) {
  .container {
    max-width: 400px;
    margin: 0 auto; } }
.col-1 {
  flex: 0 0 calc((100% - 3rem)/ 1);
  max-width: calc((100% - 3rem)/ 1); }

.col-2 {
  flex: 0 0 calc((100% - 3rem)/ 2);
  max-width: calc((100% - 3rem)/ 2); }

.col-3 {
  flex: 0 0 calc((100% - 3rem)/ 3);
  max-width: calc((100% - 3rem)/ 3); }

.col-4 {
  flex: 0 0 calc((100% - 3rem)/ 4);
  max-width: calc((100% - 3rem)/ 4); }

.col-5 {
  flex: 0 0 calc((100% - 3rem)/ 5);
  max-width: calc((100% - 3rem)/ 5); }

.col-6 {
  flex: 0 0 calc((100% - 3rem)/ 6);
  max-width: calc((100% - 3rem)/ 6); }

.col-7 {
  flex: 0 0 calc((100% - 3rem)/ 7);
  max-width: calc((100% - 3rem)/ 7); }

.col-8 {
  flex: 0 0 calc((100% - 3rem)/ 8);
  max-width: calc((100% - 3rem)/ 8); }

.col-9 {
  flex: 0 0 calc((100% - 3rem)/ 9);
  max-width: calc((100% - 3rem)/ 9); }

.col-10 {
  flex: 0 0 calc((100% - 3rem)/ 10);
  max-width: calc((100% - 3rem)/ 10); }

.col-11 {
  flex: 0 0 calc((100% - 3rem)/ 11);
  max-width: calc((100% - 3rem)/ 11); }

.col-12 {
  flex: 0 0 calc((100% - 3rem)/ 12);
  max-width: calc((100% - 3rem)/ 12); }

.col-unique-2 {
  flex: 0 0 calc(100% / 2);
  max-width: calc(100%/ 2); }

.col-unique-4 {
  flex: 0 0 calc(100% / 4);
  max-width: calc(100%/ 4); }

@media (max-width: 992px) {
  .col-3,
  .col-4 {
    flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 2rem; }

  .col-2 {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 2rem; }

  .col-unique-2, .col-unique-4 {
    flex: 0 0 calc(100% / 3);
    flex: 0 0 calc(100% / 3); } }
@media (max-width: 576px) {
  .col-3,
  .col-4 {
    flex: 0 0 100%;
    max-width: 100%; } }
.flex {
  display: flex;
  flex-wrap: wrap; }

.f-cen {
  justify-content: space-between;
  align-items: center; }

.justify-center {
  justify-content: space-between; }

.cen {
  justify-content: center;
  align-items: center; }

.align-center {
  align-items: center; }

.padding-section {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.z-index {
  z-index: 10;
  position: relative; }

.relative {
  position: relative; }

.overflow-hidden {
  overflow: hidden; }

#body .overlay {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed !important;
  display: none; }
  #body .overlay.active {
    display: block;
    z-index: 1; }
#body .formInput {
  position: fixed;
  width: 40%;
  background: #fff;
  z-index: 2;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }
  #body .formInput.active {
    display: block; }
  #body .formInput .formInput__wrap {
    text-align: center;
    padding: 3rem; }
    #body .formInput .formInput__wrap .form-control {
      display: flex;
      flex-wrap: wrap; }
      #body .formInput .formInput__wrap .form-control:not(:last-child) {
        margin-bottom: 2rem; }
      #body .formInput .formInput__wrap .form-control input[type=text], #body .formInput .formInput__wrap .form-control input[type=number] {
        border: 1px solid #e0e0e0;
        padding: 1.5rem 2rem; }
      #body .formInput .formInput__wrap .form-control input[type=text] {
        width: 100%; }
      #body .formInput .formInput__wrap .form-control input[type=number] {
        width: 45%; }
        #body .formInput .formInput__wrap .form-control input[type=number]:last-child {
          margin-left: 10%; }

.manager .table {
  margin: 0 auto;
  margin-top: 4rem;
  border: 1px dashed #a7a7a7;
  border-bottom: none;
  width: 100%; }
  .manager .table thead tr th, .manager .table tbody tr th {
    padding: 3rem 0;
    font-size: 1.4rem;
    border-bottom: 1px dashed #a7a7a7; }
    .manager .table thead tr th:not(:first-child), .manager .table tbody tr th:not(:first-child) {
      border-left: 1px dashed #a7a7a7; }
    .manager .table thead tr th i, .manager .table tbody tr th i {
      font-size: 2rem;
      padding: 1rem;
      border-radius: 5px;
      transition: 0.4s;
      cursor: pointer; }
      .manager .table thead tr th i:not(:last-child), .manager .table tbody tr th i:not(:last-child) {
        margin-right: 2rem; }
      .manager .table thead tr th i#editBtn, .manager .table tbody tr th i#editBtn {
        color: #fff;
        background: #4acc3e;
        border: 1px solid #4acc3e; }
        .manager .table thead tr th i#editBtn:hover, .manager .table tbody tr th i#editBtn:hover {
          color: #4acc3e;
          background: #fff; }
      .manager .table thead tr th i#removeBtn, .manager .table tbody tr th i#removeBtn {
        color: #fff;
        background: #cc3e3e;
        border: 1px solid #cc3e3e; }
        .manager .table thead tr th i#removeBtn:hover, .manager .table tbody tr th i#removeBtn:hover {
          color: #cc3e3e;
          background: #fff; }
.manager .search-control {
  margin-top: 3rem;
  height: 5rem;
  border: 1px solid #e0e0e0;
  overflow: hidden;
  border-radius: 15rem;
  padding: 1rem;
  position: relative;
  width: 80%; }
  .manager .search-control input[type=text] {
    border: none;
    outline: none;
    padding: 0;
    font-size: 1.6rem;
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%); }
  .manager .search-control .searchBtn {
    background: #232323;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%); }
    .manager .search-control .searchBtn i {
      color: #fff;
      font-size: 1.5rem; }
.manager .pagination .pagination__list {
  display: flex;
  flex-wrap: wrap;
  margin: 2rem auto; }
  .manager .pagination .pagination__list li {
    padding: 0.8rem 1rem;
    border: 1px solid #232323;
    border-radius: 5px;
    cursor: pointer; }
    .manager .pagination .pagination__list li:not(:last-child) {
      margin-right: 1rem; }
    .manager .pagination .pagination__list li:hover, .manager .pagination .pagination__list li.active {
      border: 1px solid #4acc3e;
      background: #4acc3e;
      color: #fff; }

.head__section {
  width: 80%;
  margin: 0 auto;
  padding: 3rem 0 4rem 0;
  text-align: center; }
  .head__section h2 {
    font-size: 2.7rem;
    text-transform: uppercase; }
  .head__section .section__heading {
    font-size: 3.8rem;
    font-family: "Dancing Script", cursive;
    font-weight: 700; }
  .head__section .section__description {
    font-size: 1.1rem;
    text-transform: uppercase;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
    display: inline-block;
    margin: 0 auto;
    border-bottom: 3px solid rgba(97, 45, 127, 0.2); }

.button {
  display: flex;
  text-align: center;
  justify-content: center; }
  .button a, .button input[type=submit], .button input[type=reset] {
    display: inline-block;
    text-transform: uppercase;
    transition: 0.4s;
    border-radius: 3px; }
    .button a:not(:last-child), .button input[type=submit]:not(:last-child), .button input[type=reset]:not(:last-child) {
      margin-right: 1.5rem; }

.btn--small {
  padding: 0.8rem 1.5rem;
  font-size: 1.4rem; }

.btn--medium {
  padding: 1rem 3rem;
  font-size: 1.6rem; }

.btn-bg--primary {
  background: #232323;
  border: 1px solid #232323; }
  .btn-bg--primary:hover {
    background: #fff;
    color: #232323 !important; }

.hover-primery-op:hover {
  background: rgba(98, 45, 128, 0.2); }

.btn-border--white {
  border: 1px solid #fff; }
  .btn-border--white:hover {
    background: #fff;
    color: #232323 !important; }

.btn-bg--white {
  background: #fff;
  border-radius: 5px; }
  .btn-bg--white:hover {
    background: transparent;
    color: #fff !important;
    border: 1px solid #fff; }

.triangle-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-right: 12px solid #232323;
  border-bottom: 10px solid transparent; }

.triangle-right {
  width: 0;
  height: 0;
  border-top: 14px solid transparent;
  border-left: 16px solid #232323;
  border-bottom: 14px solid transparent; }

.triangle-down {
  width: 0;
  height: 0;
  border-right: 18px solid transparent;
  border-top: 16px solid #fff;
  border-left: 18px solid transparent; }

.triangle-up {
  width: 0;
  height: 0;
  border-right: 18px solid transparent;
  border-bottom: 16px solid #fff;
  border-left: 18px solid transparent; }

.bg-layout {
  clip-path: polygon(0 0, 100% 0, 100% 95%, 50% 100%, 0 95%); }

/*# sourceMappingURL=main.css.map */
