.section-history{
    padding: 10rem 2rem;
    background-image: linear-gradient(to right, rgba(#fff,0.9),rgba(#fff,0.9)),url(../img/education-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size:60%;
}
.introduction{
    padding: 5rem 0;
    
    &__box{
        @include screen(phone){
            padding: 0 4rem;
        }
    }
}
.section-vision{
    padding: 6rem 0;
    position: relative;
    &::after,&::before{
        content:"";
        position: absolute;
        width:50%;
        height:100%;
        top:0;
        z-index:-1;
        @include screen(tab-portrait){
            width:100%;
            height:50%
        }
    }
    &::after{
        right:0;
        background-color:$color-primary;
        @include screen(tab-portrait){
           bottom:0;
           top:50%;
        }
    }
    &::before{
        left:0;
        background:#fff;

    }
}
.about-education{
    padding: 10rem 0;
    @include screen(tab-portrait){
        margin-bottom:5rem;
     }
}
.about-contact{
    @include screen(tab-portrait){
        margin-top:20rem;
     }
}
