@mixin clearfix{
    &::after{
        content:"";
        display: table;
        clear:both;
    }
}

//position
@mixin center{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}


//MEDIA QUERIES MANAGER
/*
- phone : 0 - 600px;
- tab-portrait : 600px -900px;
- tab-landscape : 900 - 1200px;
- big-desktop : 1800px +

ORDER CHANGE : base > typography > general layout > grid > page layout > component
*/
@mixin screen($break-point){
    @if $break-point == phone {
        @media only screen and (max-width:600px){@content};
    }
    @if $break-point == tab-portrait {
        @media only screen and  (max-width:960px){@content};
    }
    @if $break-point == tab-landscape {
        @media only screen and (max-width:1200px){@content};
    }
    @if $break-point == big-desktop {
        @media only screen and (min-width:1800px){@content};
    }
}