//color
$color-primary:#fde428;
$color-primary-light:#49007c;
$color-primary-dark: #b90084;

$color-secondary:#002e5b;
$color-secondary-dark:#ff7730;

$color-tertiary-1:#69d2e7;
$color-tertiary-2:#add478;
$color-tertiary-3:#f49f77;

$color-grey-light: #6b6e70;
$color-grey-light-2:#a1a1a1;
$color-grey-light-3:#f4f4f4;
$color-grey-dark: #333333;
$color-grey-dark-2:#666666;
$color-grey:#bcbcbc;
$color-white:#fff;
$color-dark:#000;

//shadow
$shadow-light: 0 1.5rem 4rem rgba(#000,0.2);
$shadow-dark: 0 1.5rem 4rem rgba(#000,0.6);
    
//font
$default-font-size:1.6rem;
//transition
$transition-3s: all 0.3s ease-in-out;
//grid
$grid-width-desk: 117rem;
$grid-width-tab: 96rem;
$grid-width-mb: 70rem;
$grid-width-phone:50rem;
$gutter-vertical:3rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;
